<!--
  headlinks.html
  ==============================================================================

  This contains all of the links to various css and javascript resources.
  It should be included in the head tag of your page.
 -->

{% load staticfiles %}

<!-- JQuery -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="https://code.jquery.com/color/jquery.color.plus-names-git.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.8.1/jquery.timepicker.js"></script>

<!-- Bootsrap Files -->
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css"/>

<!-- Js-Cookie -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.0.3/js.cookie.js"></script>

<!-- moment.js -->
<script src='/static/lib/moment.min.js'></script>

<!-- Fullcalendar.io -->
<link href='/static/fullcalendar/fullcalendar.css' rel='stylesheet'/>
<link href='/static/fullcalendar/fullcalendar.print.css' rel='stylesheet' media='print'/>
<script src='/static/fullcalendar/fullcalendar.min.js'></script>

<!-- Custom HealthNet CSS -->
<link rel="stylesheet" type="text/css" href="/static/theme.css"/>
<link rel="stylesheet" type="text/css" href="/static/style.css"/>

<!-- Custom HealthNet JavaScript -->
<script src="/static/sidebar.js"></script>

<!-- Favicon -->
<link rel="shortcut icon" type="image/png" href="/static/images/favicon2.png"/>
