/*
  HealthNet CSS Color Themes
  ==============================================================================

  Red Shades Color Scheme:
  White: FFFFFF
  Grey: D4D4D4
  Main: D22121
  Background: 921717
  Dark Accent: B81D1D
  Light Accent: DF2323
  Dark: 520D0D

  Blue Monochromatic Color Scheme: CURRENT
  White: FFFFFF
  Grey: D4D4D4
  Main: 1977E9
  Background: 1F5C7F
  Dark Accent: 3294CC
  Light Accent: 3EB9FF
  Dark: 456A7F
*/
