/*
  HealthNet CSS Theme
  ==============================================================================

  Body
  Text Styles
  Position Styles
  Sizing Styles
  Decoration Styles
  Form Styles

*/

/* Fonts */
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

/*
  ================================================================== Animations
*/
@keyframes rotate-45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(45deg); }
}
@-webkit-keyframes rotate-45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(45deg); }
}
@-moz-keyframes rotate-45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(45deg); }
}
@-o-keyframes rotate-45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(45deg); }
}
.rotate-45 {
    animation:
        rotate-45 .4s forwards;
}

@keyframes rotate-minus-45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(-45deg); }
}
@-webkit-keyframes rotate-minus-45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(-45deg); }
}
@-moz-keyframes rotate-minus-45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(-45deg); }
}
@-o-keyframes rotate-minus-45 {
    from { transform: rotate(0deg); }
    to { transform: rotate(-45deg); }
}
.rotate-minus-45 {
    animation:
        rotate-minus-45 .4s forwards;
}

@keyframes rotate-0 {
    to { transform: rotate(0deg); }
}
@-webkit-keyframes rotate-0 {
    to { transform: rotate(0deg); }
}
@-moz-keyframes rotate-0 {
    to { transform: rotate(0deg); }
}
@-o-keyframes rotate-0 {
    to { transform: rotate(0deg); }
}
.rotate-0 {
    animation:
        rotate-0 .4s forwards;
}

@keyframes fade-grow-in {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
@-webkit-keyframes fade-grow-in {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
@-moz-keyframes fade-grow-in {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
@-o-keyframes fade-grow-in {
    from { opacity: 0; transform: scale(0); }
    to { opacity: 1; transform: scale(1); }
}
.fade-grow-in {
    animation:
        fade-grow-in .2s .2s cubic-bezier(0,.8,.32,1.07) forwards;
}

@keyframes fade-grow-out {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
@-webkit-keyframes fade-grow-out {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
@-moz-keyframes fade-grow-out {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
@-o-keyframes fade-grow-out {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0); }
}
.fade-grow-out {
    animation: fade-grow-out .6s cubic-bezier(.55,-0.04,.91,.94) forwards;
}

@keyframes in-from-bottom {
  from { margin-top: 2000px; }
  to { margin-top: 8%; }
}
@-webkit-keyframes in-from-bottom {
  from { margin-top: 2000px; }
  to { margin-top: 8%; }
}
@-moz-keyframes in-from-bottom {
  from { margin-top: 2000px; }
  to { margin-top: 8%; }
}
@-o-keyframes in-from-bottom {
  from { margin-top: 2000px; }
  to { margin-top: 8%; }
}
.animate-from-bottom {
  animation-name: in-from-bottom;
  animation-duration: .7s;
  -webkit-animation-name: in-from-bottom;
  -webkit-animation-duration: .7s;
  -moz-animation-name: in-from-bottom;
  -moz-animation-duration: .7s;
  -o-animation-name: in-from-bottom;
  -o-animation-duration: .7s;
}

@keyframes animate-fade-out {
  from { opacity: 100%; }
  to { opacity: 0%; }
}
@-webkit-keyframes animate-fade-out {
  from { opacity: 100%; }
  to { opacity: 0%; }
}
@-moz-keyframes animate-fade-out {
  from { opacity: 100%; }
  to { opacity: 0%; }
}
@-o-keyframes animate-fade-out {
  from { opacity: 100%; }
  to { opacity: 0%; }
}
.animate-fade-out {

  animation-name: animate-fade-out;
  animation-duration: 5s;
  -webkit-animation-name: animate-fade-out;
  -webkit-animation-duration: 5s;
  -moz-animation-name: animate-fade-out;
  -moz-animation-duration: 5s;
  -o-animation-name: animate-fade-out;
  -o-animation-duration: 5s;
}

/*
  ======================================================================== Body
*/
body {
  background-color: #921717;
}

.content {
  z-index: 4;
}

/*
  ================================================================= Text Styles
*/
h1 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-top: 0;
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
}

h2 {
  font-size: 24px;
  margin-bottom: 15px;
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
}

h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: #000000;
}

p {
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 25px;
  color: #333333;
}

a {
  margin-bottom: 8px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #B81D1D;
}

a:hover {
  color: #921717;
}

a:visited {
  color: #921717;
}

a:focus {
  outline-color: #D22121;
  color: #D22121;
}

/*
  ============================================================= Position Styles
*/
.section-div {
    height: 60px;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.side-margins-50px {
  margin-left: 50px;
  margin-right: 50px;
}

.side-margins-25px {
  margin-left: 25px;
  margin-right: 25px;
}

.side-margins-10px {
  margin-left: 10px;
  margin-right: 10px;
}

.word-break {
  word-break: break-all;
}

/*
  =============================================================== Sizing Styles
*/
.width-auto {
  width: auto;
}

.width-100 {
  width: 100%;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.scale-0 {
  transform: scale(0);
}

.scale-1 {
  transform: scale(1);
}

/*
  =========================================================== Decoration Styles
*/
.underline {
  padding-bottom: 3px;
  border-bottom: 1px solid #000000;
}

.rcorners-5 {
  border-radius: 5px;
}

.rcorners-10 {
  border-radius: 10px;
}

.bg-color-white {
  background-color: #ffffff;
}

.button-gradient-red {
  border:1px solid #B81D1D; -webkit-border-radius: 3px; -moz-border-radius: 3px;border-radius: 3px; padding: 10px 10px 10px 10px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
  background-color: #D22121; background-image: -webkit-gradient(linear, left top, left bottom, from(#D22121), to(#B81D1D));
  background-image: -webkit-linear-gradient(top, #D22121, #B81D1D);
  background-image: -moz-linear-gradient(top, #D22121, #B81D1D);
  background-image: -ms-linear-gradient(top, #D22121, #B81D1D);
  background-image: -o-linear-gradient(top, #D22121, #B81D1D);
  background-image: linear-gradient(to bottom, #D22121, #B81D1D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#D22121, endColorstr=#A81E1E);
  font-family: 'Ubuntu', sans-serif;
}

.button-gradient-red:hover {
  border: none;
  background-color: #DF2323; background-image: -webkit-gradient(linear, left top, left bottom, from(#DF2323), to(#520D0D));
  background-image: -webkit-linear-gradient(top, #DF2323, #520D0D);
  background-image: -moz-linear-gradient(top, #DF2323, #520D0D);
  background-image: -ms-linear-gradient(top, #DF2323, #520D0D);
  background-image: -o-linear-gradient(top, #DF2323, #520D0D);
  background-image: linear-gradient(to bottom, #DF2323, #520D0D);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#a61a1a, endColorstr=#7d1616);
}

.field-icon {
  width: 40px;
  height: 40px;
  font-size: 18px;
  background-color: #D22121;
  color: #ffffff;
  padding: 11px;
  margin: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.text-white {
  color: #ffffff;
}

.sep-dashed-grey {
  border-bottom: 2px dashed #cccccc;
  width: 90%;
  margin: 5px auto 10px auto;
}

.sep-solid-grey {
  border-bottom: 2px solid #cccccc;
  width: 90%;
  margin: 5px auto 10px auto;
}

.rcorner-top-left {
  border-top-left-radius: 5px;
}

.rcorner-top-right {
  border-top-right-radius: 5px;
}

.rcorner-bottom-left {
  border-bottom-left-radius: 5px;
}

.rcorner-bottom-right {
  border-bottom-right-radius: 5px;
}

/*
  ================================================================= Form Styles
*/
input {
  font-family: 'Ubuntu', sans-serif;
  background-color: #efefef;
  font-size: 18px;
  height: 40px;
  width: 170px;
  margin: 0 auto 20px auto;
  padding: 3px;
}

input:focus {
  outline-color: #D22121;
}

textarea {
  font-family: 'Ubuntu', sans-serif;
  background-color: #efefef;
  font-size: 18px;
  height: 40px;
  width: 170px;
  max-width: 100%;
  margin: 0 auto 20px auto;
  padding: 3px;
}

textarea:focus {
  outline-color: #D22121;
}

input[type="text"] {
  font-family: 'Ubuntu', sans-serif;
  background-color: #efefef;
  font-size: 18px;
  height: 40px;
  width: 170px;
  margin: 0 auto 20px auto;
  padding: 3px;
}

input[type="text"]:focus {
  outline-color: #D22121;
}

input[type="password"] {
  font-family: 'Ubuntu', sans-serif;
  background-color: #efefef;
  font-size: 18px;
  height: 40px;
  width: 170px;
  margin: 0 auto 20px auto;
  padding: 3px;
}

input[type="password"]:focus {
  outline-color: #D22121;
}

input[type="email"] {
  font-family: 'Ubuntu', sans-serif;
  background-color: #efefef;
  font-size: 18px;
  height: 40px;
  width: 170px;
  margin: 0 auto 20px auto;
  padding: 3px;
}

input[type="email"]:focus {
  outline-color: #D22121;
}

button {
  font-family: 'Ubuntu', sans-serif;
  height: 40px;
  width: 170px;
  margin: 20px auto 20px auto;
  padding: 3px;
  font-size: 24px;
  text-align: center;
}

button:focus {
  outline-color: #D22121;
}

select {
  font-family: 'Ubuntu', sans-serif;
  height: 40px;
  width: 170px;
  margin: 0px auto 20px auto;
  padding: 3px;
  font-size: 24px;
  text-align: center;
}

select:focus {
  outline-color: #D22121;
}

input[type="submit"] {
  font-family: 'Ubuntu', sans-serif;
  height: 40px;
  width: 170px;
  margin: 20px auto 20px auto;
  padding: 3px;
  font-size: 24px;
}

input[type="submit"]:focus {
  outline-color: #D22121;
}

label {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
}
