<!--
  page-frame.html
  ==============================================================================

  This file can be used as a general skeleton to start with when making a new
  template.
 -->

<html>

  <head>
    <!-- Include the global CSS, JS, etc. links -->
    {% include "includes/headlinks.html" %}

    <title></title>
  </head>

  <body>

    <!-- Include the global page header -->
    {% include "includes/header.html" %}

    <!-- Include the sidebar -->
    {% include "includes/sidebar.html" %}

    <!-- This is where the unique content for each page goes -->
    <div class="content">
    </div>
    <!-- End content -->

  </body>

</html>
